body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.table-white {
    background-color: white !important;
}

.bg-wood {
    background-image: url('images/wood.jpg');
}

.bg-wood2 {
    background-image: url('images/wood2.jpg');
}

.bg-brown {
    background-color: #996633;
}

.bg-cyan {
    background-color: #16a2b8 !important;
}

.bg-cyan-clicked {
    background-color: #127a8b !important;
}

.right-text {
    text-align: right;
}

.accordion-button::after {
    display: none;
}

.accordion-button:focus, .accordion-button {
    border: none;
}

.gradient-border {
    --border-width: 3px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/wood.jpg');
    border-radius: var(--border-width);
}

@media (min-width: 768px) {
    .gradient-border::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
        );
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 4s alternate infinite;
    }
}
  
@keyframes moveGradient {
50% {
    background-position: 100% 50%;
    }
}

.table-win {
    background-color: rgb(106, 251, 106) !important;
}

.table-lose {
    background-color: rgb(251, 106, 106) !important;
}

.table-draw {
    background-color: rgb(251, 251, 106) !important;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}